*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.sec-box{
    max-width: 992px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.top-bar{
    background-color: blueviolet;
    padding: 20px 30px;
    text-align: center;
}
.para-md{
font-size: 22px;
font-weight: 500;
letter-spacing: 0.7px;
word-spacing: 1px;
text-transform: capitalize;
}
.top-bar .para-md{
color: #fff;
}
.heading-lg{
    font-size: 40px;
font-weight: 900;
letter-spacing: 0.7px;
line-height: 50px;
word-spacing: 1px;
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
color: #100F0F;
}
.hero-section{
    padding: 35px 30px;
    text-align: center;
}
.hero-section .sec-box{
    flex-direction: column;
    gap: 35px;
}
.get-course{
    padding: 15px 25px;
    background-color: #5BB318;
    border: 2px solid #5BB318;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
}
.get-course:hover{
    color: #5BB318;
    background-color: #fff;
}
.course-video-div {
    width: 100%;
    min-height: 500px;
}
.course-video-div iframe{
width: 100%;
height: 500px;
border: 15px solid #000;
border-radius: 5px;
}